body{
    background-color: rgb(136, 238, 238);
    overflow: hidden;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.display{
    display: flex;
    justify-content: center; 
}

.train{
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 30px;
}

.floor{
    width: 100%;
    height: 30px;
    background-color: #1dfa4d;
    bottom: 0;
    position: absolute;
}

.number-container{
    height: 30px;
    width: 80px;
    border: 1px solid black;
    background: rgb(0,255,85);
    background: linear-gradient(90deg, rgba(0,255,85,1) 0%, rgba(249,216,23,1) 50%, rgba(255,0,0,1) 100%);
}

.numbers {
    height: 30px;
    width: 4px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

.button{
    height: 45px;
    width: 100px;
    background-color: #1dfa4d;
    border: none;
    border-radius: 10px;
    margin-top: 95px;
}


.height {
    position: absolute;
    display: flex;
    align-items: end;
    z-index: -1;
}

.height-number {
    color: #ffffff;
    font-size: 36px;
}

.height-line {
    height: 2px;
    width: 110px;
    background-color: #ffffff;
}

.height-position{
    display: flex;
    justify-content: center;
}


.display-end {
    z-index: 1;
    height: 280px;
    width: 240px;
    background-color: #6e6e6b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 30px;
    border: 5px solid #e69601;

    display: none;
}

.result {
    display: flex;
    margin-bottom: 10px;
    gap: 8px;
}
.result-text {
    font-size: 19px;
    color: white;
}
.result-point {
    font-size: 19px;
    color: white;
}
.repeat {
    margin-bottom: 20px;
}



.effects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
}

.effects-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#berd{
    position: absolute;
    display: none;
    left: -3000px;
}

#clouds{
    position: absolute;
    display: none;
    top: -1500px;
}

#sun{
    position: absolute;
    top: 15px;
    right: 15px;
}

#air{
    position: absolute;
    bottom: -1900px;
    display: none;
}

#plane{
    position: absolute;
    left: -1300px;
    display: none;
    top: 30%;
}

#spacePeople{
    height: 400px;
    width: 380px;
    position: absolute;
    display: none;
    top: -300px;
    z-index: -1;
}